.first_outer_box{
  width: 300px;
  margin: 20px;
  padding: 50px color lightblue;
  border: 15px solid rgb(0, 0, 255);
  justify-content: center;
	background-color: rgb(173, 216, 230);
}
/* Your CSS Code here. */